Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

#RewriteCond %{REQUEST_URI} !^/(basic)
#RewriteRule ^assets/(.*)$ web/assets/$1 [L]
#RewriteRule ^css/(.*)$ web/css/$1 [L]
#RewriteRule ^js/(.*)$ web/js/$1 [L]
#RewriteRule ^lib/(.*)$ web/lib/$1 [L]
#RewriteRule ^img/(.*)$ web/img/$1 [L]
#RewriteRule ^user-files/(.*)$ web/user-files/$1 [L]
#RewriteRule ^fonts/(.*)$ web/fonts/$1 [L]
#RewriteRule (.*) web/$1

RewriteCond %{REQUEST_URI} ^/account [OR]
RewriteCond %{REQUEST_URI} ^/black [OR]
RewriteCond %{REQUEST_URI} ^/api
RewriteCond %{REQUEST_FILENAME} !favicon.ico
RewriteCond %{REQUEST_FILENAME} !robots.txt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . web/index.php


# frontend
RewriteCond %{REQUEST_URI} (.html|.js|.css|.jpg|.jpeg)
RewriteCond %{REQUEST_FILENAME} !favicon.ico
RewriteCond %{REQUEST_FILENAME} !robots.txt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) client/dist/$1 [L]

RewriteCond %{REQUEST_FILENAME} !favicon.ico
RewriteCond %{REQUEST_FILENAME} !robots.txt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]