@import url('../main.css');


body{
    width: inherit;
    background: transparent !important;
}


.widget-login{
    display: flex;
    align-items: center;
}
.widget-login__image_container{}
.widget-login__image{
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.widget-login__image .avatar{
    max-width: 100%;
    max-height: 100%;
}
.widget-login__username{
    margin-left: 10px;
}
.log-in-out{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
a.widget-login,
.log-in-out-item a {
    font-family: 'Ubuntu Light';
    font-size: 15px;
    color: #000000;
}
a.widget-login:hover,
a.widget-login:focus,
.log-in-out-item .active>a,
.log-in-out-item a:hover,
.log-in-out-item a:focus {
    text-decoration: none;
    color: #53C4CE;
}
.top-nav {
    font-family: "Ubuntu Light";
    font-size: 15px;
    color: #000000;
    display: inline-flex;
    align-items: center;
    margin: 0;
}
.log-in-out-item{
    padding: 0px;
    white-space: nowrap;
    margin: 0 3vw !important;
}

.log-in-out-item a {
    font-family: "Ubuntu Light";
    font-size: 15px;
    /* color: #000000; */
}
.active>a, a:hover, a:focus {
    text-decoration: none;
    color: #53C4CE;
}