<div class="site-login">
  <h1>Регистрация</h1>
  <a [routerLink]="['/registration']">
        <span>
            Уже зарегистрированы?
        </span>
  </a>

  <!-- -->
  <form class="site-log-in-out-form"
        #registrationForm="ngForm"
        (ngSubmit)="onSubmit()">
    <div class="form-group field-registrationform-username"
         [ngClass]="{'has-danger': !!formErrors.fio}">
      <input type="text"
             class="form-control"
             required
             minlength="4"
             placeholder="ФИО"
             [(ngModel)]="patient.fio"
             name="fio"
      >
      <div class="form-control-feedback">{{formErrors.fio}}</div>
    </div>
    <div class="text-left registration-label">
      Дата рождения
    </div>
    <div class="edit-prfl-date">
      <div class="edit-prfl-date__day edit-prfl-date__item">
        <div class="form-group field-registrationform-birthday"
             [ngClass]="{'has-danger': !!formErrors.birthDay}">
          <select id="registrationform-birthday"
                  class="form-control"
                  [(ngModel)]="patient.birthDay"
                  required
                  name="birthDay">
            <option value="0">День</option>
            <option *ngFor="let birthDay of birthDays" [value]="birthDay">{{birthDay}}</option>
          </select>
          <div class="form-control-feedback">{{formErrors.birthDay}}</div>
        </div>
      </div>
      <div class="edit-prfl-date__month edit-prfl-date__item">
        <div class="form-group field-registrationform-birthmonth"
             [ngClass]="{'has-danger': !!formErrors.birthMonth}">
          <select id="registrationform-birthmonth"
                  class="form-control"
                  [(ngModel)]="patient.birthMonth"
                  required
                  name="birthMonth">
            <option value="0">Месяц</option>
            <option *ngFor="let birthMonth of birthMonths" [value]="birthMonth">{{birthMonth}}</option>
          </select>
          <div class="form-control-feedback">{{formErrors.birthMonth}}</div>
        </div>
      </div>
      <div class="edit-prfl-date__year edit-prfl-date__item">
        <div class="form-group field-registrationform-birthyear"
             [ngClass]="{'has-danger': !!formErrors.birthYear}">
          <select id="registrationform-birthyear"
                  class="form-control"
                  [(ngModel)]="patient.birthYear"
                  required
                  name="birthYear">
            <option value="0">Год</option>
            <option *ngFor="let birthYear of birthYears" [value]="birthYear">{{birthYear}}</option>
          </select>
          <div class="form-control-feedback">{{formErrors.birthYear}}</div>
        </div>
      </div>
    </div>

    <div class="text-left registration-label">
      Пол
    </div>
    <div class="form-group field-registrationform-male"
         [ngClass]="{'has-danger': !!formErrors.male}">
      <div class="registration-radio-list"><input type="hidden" name="RegistrationForm[male]" value="">
        <div id="registrationform-male" aria-required="true">
          <div class="radio">
            <label>
              <input type="radio"
                     [(ngModel)]="patient.male"
                     name="male"
                     required
                     value="0">
              Женский
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio"
                     [(ngModel)]="patient.male"
                     name="male"
                     required
                     value="1">
              Мужской
            </label>
          </div>
        </div>
      </div>
      <div class="form-control-feedback">{{formErrors.male}}</div>
    </div>
    <div class="form-group field-registrationform-district_name"
         [ngClass]="{'has-danger': !!formErrors.district_name}">
      <select class="form-control"
              [(ngModel)]="patient.district_name"
              name="district_name"
              required>
        <option value="0">Регоин проживания</option>
        <option *ngFor="let districtName of districtNames" [value]="districtName">{{districtName}}</option>
      </select>
      <div class="form-control-feedback">{{formErrors.district_name}}</div>
    </div>
    <div class="form-group field-registrationform-email"
         [ngClass]="{'has-danger': !!formErrors.email}">
      <input type="text"
             class="form-control"
             placeholder="Email"
             required
             [(ngModel)]="patient.email"
             name="email">
      <div class="form-control-feedback">{{formErrors.email}}</div>
    </div>
    <div class="form-group field-registrationform-phone"
         [ngClass]="{'has-danger': !!formErrors.phone}">
      <input type="text"
             class="form-control"
             placeholder="Ваш телефон"
             required
             [(ngModel)]="patient.phone"
             name="phone">
      <div class="form-control-feedback">{{formErrors.phone}}</div>
    </div>
    <div class="form-group field-registrationform-promo"
         [ngClass]="{'has-danger': !!formErrors.promoCode}">
      <input type="text"
             class="form-control"
             placeholder="Промокод"
             [(ngModel)]="patient.promoCode"
             name="promoCode">
      <div class="form-control-feedback">{{formErrors.promoCode}}</div>
    </div>
    <div class="form-group field-registrationform-password relative"
         [ngClass]="{'has-danger': !!formErrors.password}">
      <input type="password"
             class="form-control js-password"
             placeholder="Пароль"
             required
             [(ngModel)]="patient.password"
             name="password">
      <div class="form-control-feedback">{{formErrors.password}}</div>
      <div class="js-password-icon"></div>
    </div>
    <div class="form-group text-center">
      <button type="submit"
              class="button"
              name="login-button">Присоединиться
      </button>
    </div>

  </form>
</div>
